<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      :host{
        display:block;
      }
    </style>
    <div class="container">
      <div class="row">
        Ingreso a la aplicación
      </div>
      <div class="row">
        Email:
        <input type="email" name="" value="{{email::input}}">
      </div>
      <div class="row">
        Password:
        <input type="password" name="" value="{{password::input}}">
      </div>
      <div class="row">
        <button on-click="login" type="button" name="button" class="bt btn-success">Ingresar</button>
      </div>

      <div class="row" hidden="{{!logado}}">
        <span>Bienvenido a  la aplaicación</span>
      </div>

    </div>
    <iron-ajax
      id=doLogin
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      datatype: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email:{
            type: String
          },
          password:{
            type:String
          },
          logado:{
            type:Boolean,
            value:false
          }

        };
      }
      login(){
      let loginData={"email":this.email,"password":this.password};
      console.log(loginData);
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log('Peticion Enviada')
      }
      manageAJAXResponse(e,request){
        console.log("Respuesta recibida del servidor");
        console.log(request.response);
        this.logado=true;
      }
      showError(e,error){
        console.log("Ocurrio un erorr");
        alert("Datos Incorrectos");
        console.log(error.request.status);
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
